*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .card{
        width: 450px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        flex-direction: column;
        border-radius: 2rem;
        background-color: #fff;
        color: #000;
        padding: 4rem 1rem;

        p{
            margin: 10px 0 0 0;
            text-align: center;
            font-size: 1.8rem;
            text-transform: capitalize;

            span{
                color: blue;
            }
        }

        .outer{
            width: 100%;
            height: 20px;
            border-radius: 2rem;
            border: none;
            background-color: grey;

            .inner{
                width: 0%;
                height: 100%;
                background-color: green;
                border-radius: 2rem;
            }

        }
        .bottom{
            width: 100%;
            padding: 0 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2{
                text-align: center;
                font-size: 2rem;
            }
            button{
                padding: 1.2rem 1.8rem;
                border: none;
                background-color: green;
                font-size: 1.2rem;
                text-transform: capitalize;
                border-radius: .5rem;
                cursor: pointer;
            }
            button:active{
                scale: .9;
            }
        }
    }
}